[Unit]
Description=Minecraft with PaperMC
After=syslog.target network.target

[Service]
WorkingDirectory=/home/okamoto_shinichi/docker-papermc
Type=simple
PIDFile=/run/discord.pid
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down
#EnvironmentFile=
Restart=always
RestartSec=10
User=okamoto_shinichi
Group=okamoto_shinichi

[Install]
WantedBy=multi-user.target

