[Unit]
Description=Minecraft with PaperMC
Requires=docker.service
After=syslog.target network.target

[Service]
WorkingDirectory=/home/okamoto_shinichi/docker-papermc
Type=simple
PIDFile=/run/discord.pid
ExecStart=/usr/bin/docker-compose -f /home/okamoto_shinichi/docker-papermc/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /home/okamoto_shinichi/docker-papermc/docker-compose.yml down
#EnvironmentFile=
Restart=always
RestartSec=10
User=okamoto_shinichi
Group=okamoto_shinichi

[Install]
WantedBy=multi-user.target

