DISCORD_BOT_TOKEN={{DISCORD_BOT_TOKEN}}
DISCORD_CHANNEL={{DISCORD_CHANNEL}}
MC_HOST={{MC_HOST}}
MC_PORT={{MC_PORT}}
GCP_PROJECT={{GCP_PROJECT}}
GCP_ZONE={{GCP_ZONE}}
GCP_MC_INSTANCE={{GCP_MC_INSTANCE}}
